<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Angular To Do</title>


    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body ng-app="todoApp">
<div class="container">
  <div class="page-header">
    <h1>ToDo App  </h1>
    <h2>The angular way</h2>
  </div>
  <div ng-controller="todoCtrl">
    <div class="row" >
        <div class="col-md-4 ">
        </div>
  <div class="col-md-4 ">
          <div class="input-group">
            <form id="newTaskForm">
        <input type="text" class="form-control" name="newTaskText" >
        <div class="input-group-btn">
          <button type="button" class="btn btn-primary "  aria-haspopup="true" aria-expanded="false" ng-click="add(newTaskForm.newTaskText)">
            Add Task
          </button>
</form>
        </div>
      </div>
    </div>
    <div class="col-md-4 ">
    </div>
  </div>
      <div class="row">
      <div class="col-md-6 ">
          <div class="section" >
            <span><h3> To Do </h3></span>
                  <div class="card w-75 alert alert-info" role="alert" ng-repeat="task in tasks | filter:{status:false} track by $index" >
                    <div class="card-block">
                      <i class="glyphicon glyphicon-remove-circle pull-right" ng-click="delete($index)"></i>
                      <i class="glyphicon glyphicon-ok pull-right" ng-click="done($index)"> </i>

                    <div class="form-group no-border">
                      <h4>{{task.text}}</h4>
                      <h5>Priority:{{task.priority}} </h5>
                      <h6>Created: {{task.created}}</h6>
                        <textarea style="width: 100%; border: none;text-decoration: line-through; " name="note"  >{{task.note}}</textarea>
                    </div>
                  </div>
                </div>
              </div>
</div>
        <div class="col-md-6 ">
          <div class="section" >
            <h3> Done stuff</h3>
              <div>
                  <div class="card w-75 alert alert-success " role="alert" ng-repeat="taskDone in tasks  | filter:{status:true}  track by $index" >
                    <div class="card-block"> <i class="glyphicon glyphicon-remove-circle pull-right" ng-click="delete($index)"></i>
                      <div class="form-group no-border person">
                        <h4>{{taskDone.text}}</h4>
                        <h5>Priority:{{taskDone.priority}} </h5>
                        <h6>Created: {{taskDone.created}}</h6>
                        <textarea style="width: 100%; border: none;text-decoration: line-through; " name="note"  >{{taskDone.note}}</textarea>



                    </div>
                  </div>
          </div>
        </div>
</div>
        </div>
</div>
</div>
</div>







<!-- initialization scripts -->
<script src="node_modules/angular/angular.js"></script>
<script src="app.js"></script>
<script src="appMdl.js"></script>
<script src="appCtrl.js"></script>
</body>
</html>
